.wrapper-form{
  margin-top: 190px;
}

.flight-form{
    position: absolute;
    width: 85%;
    background-color: var(--primary-color);
    margin-top: 1300px;
    top:85%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#radio-1{
    display: none;
}
#radio-2{
    display: none;
}


.active{
    display: block;
    border: 2px solid white;
    color: white;
    width: 120px;
    padding: 10px 13px;
    border-radius: 30px;
    background-color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
}

.inactive{
    display: block;
    border: 2px solid white;
    color: white;
    width: 120px;
    padding: 10px 13px;
    border-radius: 30px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.theme , .row.mt-2.row-cols-lg-5.row-cols-sm-1 .col .mb-3 {
  background-color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  margin: 2%;
  width: 100%;
  height: 80px;
}

.row.mt-2.row-cols-lg-5.row-cols-sm-1 .col .mb-3 span{
  cursor: pointer;
}

.headerSearchItem input[type="text"]{
    width: 100%;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    position: relative;

}

#travel {
  display: none;
}
.btn{
  font-size: 1rem;
}

.btn-icon{
  font-size: 40px;
}


@media screen and (max-width:992px){

  .theme{
    width: 98%;
  }
  
  .flight-form{
    top: 130%;
    padding: auto;
    margin-top: 185px;
  }
  .row.mt-2.row-cols-lg-5.row-cols-sm-1 .col .mb-3{
    margin-top: 9%;
  }


}

@media screen and (max-width:912px){

  .flight-form{
    top: 100%;
    padding: auto;
    margin-top: 185px;
  }
}

@media screen and (max-width:700px){

  .options{
    top: 185%;
  }
  .flight-form{
    top: 110%;
  }

}

@media screen and (max-width:430px){

  .options{
    top: 185%;
  }
  .flight-form{
    top: 77%;
  }

}




