.flight-form{
    position: absolute;
    width: 75%;
    background-color: var(--primary-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#radio-1{
    display: none;
}
#radio-2{
    display: none;
}


.active{
    display: block;
    border: 2px solid white;
    color: white;
    width: 120px;
    padding: 10px 13px;
    border-radius: 30px;
    background-color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.1rem;
}

.inactive{
    display: block;
    border: 2px solid white;
    color: white;
    width: 120px;
    padding: 10px 13px;
    border-radius: 30px;
    background-color: var(--primary-color);
}

.theme , .row.row-cols-4 .col .mb-3{
  background-color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  margin: 2%;
  width: 100%;
}

.headerSearchItem input[type="text"]{
    width: 100%;
    border: none;
    font-weight: 600;
    border-radius: 10px;

}
.options {
  margin-top: 0;
  padding-top: 2%;
  width: 50%;
  z-index: 2;
  left: 20px;
  position: absolute;
  top: 224px; 
  background-color: rgb(255, 253, 253);
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

#travel {
  display: none;
}

  .optionItem {
    width: 180px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }


@media screen and (max-width:992px){
    .search-form {
        position: relative;
        width: 90%;
        transform: translate(-55.9%, 0%);
    }

    .options{
        width: 50%;
    }
}






